*{
    /* reset do CSS */
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray-800: #1E293B;
    --gray-600: #475569;

}

main{
    padding-inline: 1.5rem;
}

header{
    background-image: url(./material/bg-mobile.png);
    background-size: cover;
    height: 8.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.7rem;
}

.desc h1{
    color: var(--gray-800);
    margin-bottom: 1rem;
    font-size: 1.5625rem;
}